<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="stile.css" type="text/css" />
  <script src="script.js"></script> 
</head>
<body>
	<div class="container">
            <div class="row">
              <div class="superiore col-md-12 col-sm-12 col-xs-12">
								<p id="titolo">HOME FOOD</p>
							</div>
            </div>
            <div class="row">
                <div class="sinistro col-md-3 col-sm-3 col-xs-3"></div>
                <div class="centrale col-md-6 col-sm-6 col-xs-6">
									<a href="/caricagiorni"><button id="ordinazione" type="button" class="btn-success">ORDINAZIONE<br>CON CONSEGNA A DOMICILIO</button>	</a>
								</div>
                <div class="destro col-md-3 col-sm-3 col-xs-3"></div>
            </div>
						<div class="row">
							<div class="sinistro col-md-3 col-sm-3 col-xs-3">
									<button id="chat" type="button" class="btn-info">CHAT<br>Contatta un esperto per consigli</button>
								</div>
                <div class="centrale col-md-6 col-sm-6 col-xs-6"></div>
                <div class="destro col-md-3 col-sm-3 col-xs-3">
									<button id="info" type="button" class="btn-info">INFO<br> E CONTATTI</button>
								</div>
						</div>
        </div>
</body>
</html>